body {
    background-color: black;
    color: gold;
}

.image-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.image-container img {
    max-width: 100%;
    height: auto;
}

.image-label {
    text-align: center;
}

a {
    color: red;
}

label, input, textarea {
    color: gold;
}

input, textarea {
    background-color: black;
    border: 1px solid red;
}

button {
    background-color: red;
    color: gold;
    border: none;
}

ul li {
    list-style-type: none;
}

p.author-name {
    font-size: 12px;
    color: gold;
    font-family: Arial, sans-serif;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .image-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
